<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="login" method="post">
        <input type="text" id="email" name="email" maxlength="50" placeholder="E-MAIL">
        <input type="password" id="passwd" name="passwd" maxlength="50" placeholder="PASSWORD">
        <button type="submit">submit</button>
    </form>
    <p>
        <a>find email</a>
        <span class=""></span>
        <a>find password</a>
        <span class=""></span>
        <a>sign up</a>
    </p>
</div>

</body>
</html>